<%= turbo_frame_tag dom_id(message), class: me ? 'self-end w-auto' : 'self-start w-auto' do %>
  <div class="border-2 rounded p-6 mb-2 flex justify-between <%= me ? 'border-green-300 bg-green-300 text-white' : 'border-blue-300 bg-blue-300 text-white' %>">
    <%= message.content %>
  </div>
<% end %>